<div class = 'container'>
   <h1>Add Product</h1>

   <form (ngSubmit)='onSubmit()' #productForm='ngForm'>

      <div class = 'form-group'>
         <label for = 'name'>Name :</label>
         <input type = 'text' class = 'form-control' id = 'name' required
            [(ngModel)] = 'model.name' name = 'name'>
      </div>
      <br />
      <div class = 'form-group'>
         <label for = 'demonym'>Demonym :</label>
         <input type = 'text' class = 'form-control' id = 'demonym' required
            [(ngModel)] = 'model.demonym' name = 'demonym'>
      </div>
      <br />
      <div class = 'form-group'>
         <label for = 'currency'>currency :</label>
         <input type = 'text' class = 'form-control' id = 'currency' required
            [(ngModel)] = 'model.currency' name = 'currency'>
      </div>
      <br />
     <div class='form-group'>
       <label for='talen'>talen :</label>
       <input type='number' class='form-control' id='talen' required
              [(ngModel)]='model.talen' name='talen'>
     </div>
     <br />
     <div class='form-group'>
       <label for='borders'>borders :</label>
       <input type='text' class='form-control' id='borders' required
              [(ngModel)]='model.borders' name='borders'>
     </div>
     <br />
      <button type='submit' class='btn btn-success' [disabled]='productForm.invalid'>Add</button>


      {{ productForm.value | json }}

   </form>
</div>
