<div class = 'container'>
   <h1>Search Product</h1>

   <form (ngSubmit)='onSubmit()'>

      <div class = 'form-group' [formGroup]='search'>
         <label for = 'name'>Name :</label>
         <input type = 'text' formControlName='name'>
      </div>
      <br />
      <button type='submit' class='btn btn-success'>Search</button>

   </form>
   <br /><br />

   <label>Name :&nbsp;</label>{{ result_name }}<br />
   <label>Demonym :&nbsp;</label>{{ result_demonym }}<br />
   <label>Currency :&nbsp;</label>{{ result_currency }}<br />
  <label>talen :&nbsp;</label>{{ result_talen }}<br />
  <ul *ngFor ="let border of result_borders">
    <li >{{border}}</li>
  </ul>
</div>
